.Box-Video{
    margin: 20px auto;
    height: 450px;
    width: 500px;
    overflow: auto;
}

.Box-Image{
    margin: 20px auto;
    height: 450px;
    width: 500px;
    overflow: auto;
}
.Input-Name-Highlight{
    
}