.home-background{
    background: #221E3D;
    height: 100%;
    width: 100%;
    text-emphasis-color: white;
    color: white;
    .home-container{
        width: 1200px;
        height: 700px;
        margin: 30px auto;

        background: #13132B;
        border-radius: 40px;
    }
   
}